<div class="header">
  <h1>Todo List</h1>
</div>
<div class="todo-app">
  <div class="todo-input-container">
    <input
      type="text"
      class="todo-input"
      placeholder="Enter Title"
      autocomplete="off"
      [(ngModel)]="title"
    />
    <textarea
      class="todo-input"
      style="resize: none;"
      placeholder="Enter Description"
      autocomplete="off"
      [(ngModel)]="description"
    ></textarea>
    <div style="display: flex;justify-content: space-between;">
      <button
        type="button"
        class="todo-add-btn"
        [ngClass]="buttonValue=='Update'?'todo-update-btn': '.todo-add-btn'"
        [innerText]="buttonValue"
        (click)="addTodo()"
        [disabled]="!title"
      ></button>
      <button
        *ngIf="buttonValue=='Update'"
        type="button"
        style="background-color: rgb(228, 55, 55);"
        class="todo-update-btn"
        (click)="resetForm()"
      >Cancel</button>
    </div>

  </div>

  <ul class="todo-list">
    <li *ngFor="let todo of todoList">
      <app-todo-list [todo]="todo" (emitTodoData)="handleEmitTodoData($event)"></app-todo-list>
    </li>
  </ul>
</div>
